<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Graph</title>
</head>
<body>
    <h1>Ajouter un Graph</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="source">Fichier Source (.xlsx)</label>
        <input type="file" name="source" accept=".xlsx" required><br><br>

        <label for="graph">Fichier Graphique (Image)</label>
        <input type="file" name="graph" accept="image/*" required><br><br>

        <label for="interpretation">Interprétation (PDF ou Texte)</label>
        <input type="file" name="interpretation" accept=".pdf, .txt" required><br><br>

        <label for="userid">ID de l'Utilisateur</label>
        <input type="number" name="userid" required><br><br>

        <button type="submit">Enregistrer le Graph</button>
    </form>
</body>
</html>